<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1>All My Users</h1>
<table class="table table-dark">
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Created At</th>
    </tr>
    {% for one_user in all_users %}
    <tr>
        <td>{{one_user.id}}</td>
        <td>{{one_user.first_name}} {{one_user.last_name}}</td>
        <td>{{one_user.email}}</td>
        <td>{{one_user.created_at}}</td>
    </tr>
    {% endfor %}
</table>

<a href="/add_page">Add a New User</a>
